<app-online-status [lastUpdate]="lastUpdate" [remainingTimeForUpdate]="remainingTimeForUpdate"
    (click)="statusClicked()"></app-online-status>
<div class="temperatures-container">
    <app-temperature [value]="latestData.sensor1" [type]="Type.temperature" [unit]="'°C'"></app-temperature>
    <app-temperature [value]="latestData.sensor2" [type]="Type.humidity" [unit]="'%'"></app-temperature>
    <app-temperature [value]="latestData.sensor3" [type]="Type.voltage" [unit]="'V'"></app-temperature>
</div>
